<div class="navbar" ng-controller="NavController as nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Flasht</h1>
            </div>
            <div class="col-sm-offset-3 col-sm-6">
                <ul class="nav nav-pills nav-dock pull-right">
                    <li role="presentation" ui-sref-active="active"><a ui-sref="manageDecks">Manage Decks</a></li>
                    <li role="presentation" ng-click="nav.signin()" ng-if="!nav.user"><a href>Sign in</a></li>
                    <li role="presentation" ng-click="nav.signout()" ng-if="nav.user"><a href>Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div ui-view></div>

</div>