<div class="container">
    <div class="page-header">
        <h1>Manage Decks</h1>
    </div>

    <div class="row">

        <div class="col-sm-3 deckPanel">
            <div class="panel panel-default">
                <div class="panel-heading create-deck">



                    <div class="input-group">
                        <input class="form-control" ng-model="vm.newDeck" ng-keypress="vm.createDeck($event)" placeholder="Title">
                        <span class="input-group-btn">
                        <button class="btn btn-primary pull-right" ng-click="vm.createDeck()">Create Deck</button>
                        </span>

                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item decks-active" ng-repeat="deck in vm.decks" ui-sref-active="active" ui-sref="manageDecks.deck({deck:deck.$id})">
                            <a>{{deck.name}}</a>
                            <span class="glyphicon glyphicon-remove-sign pull-right decks-remove" ng-click=vm.removeDeck(deck)></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-7 col-sm-offset-4">
            <div ui-view></div>
        </div>

    </div>

</div>